@import "tailwindcss";

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--bg-primary);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light-theme {
  color-scheme: light;

  --bg-primary: #fafafa;
  --bg-secondary: #f5f5f4;
  --bg-tertiary: #e7e5e4;
  --bg-alt: #fafaf9;
  --bg-tertiary-alt: #a3a3a3;

  --text-primary: #0a0a0a;
  --text-secondary: #1c1917;
  --text-tertiary: #292524;
  --text-alt: #0c0a09;
  --text-muted: #57534e;
  --text-muted-plus: #44403c;
  --text-tertiary-alt: #cacaca;

  --border-primary: #d6d3d1;
  --border-secondary: #e7e5e4;

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

body.dark-theme {
  color-scheme: dark;

  --bg-primary: #0a0a0a;
  --bg-secondary: #1c1917;
  --bg-tertiary: #292524;
  --bg-alt: #0c0a09;
  --bg-tertiary-alt: #6e6b66;

  --text-primary: #fafafa;
  --text-secondary: #f5f5f4;
  --text-tertiary: #e7e5e4;
  --text-alt: #fafaf9;
  --text-muted: #78716c;
  --text-muted-plus: #a8a29e;
  --text-tertiary-alt: #a3a3a3;

  --border-primary: #292524;
  --border-secondary: #1c1917;

  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

.bg-main {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.text-main {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-tertiary {
  color: var(--text-tertiary);
}

.border-main {
  border-color: var(--border-primary);
}
.border-secondary {
  border-color: var(--border-secondary);
}

/* .theme-primary {
  background: var(--theme-primary);
}

.theme-secondary {
  background: var(--theme-secondary);
}

.theme-alt {
  background: var(--theme-alt);
} */
